body {
  background-color: #f1f2f6;
}
.card {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.title-page {
  margin: 0px;
  padding: 10px;
}
.form-login {
  background-color: #fff;
  max-width: 350px;
  margin: auto;
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
}

.copyright {
  margin: 5px;
}

.left-sidenav {
  color: #b5b5b5;
  width: 240px;
  background-color: rgb(44, 40, 59);
  min-height: 100vw;
  margin-right: 0px;
  float: left;
}
.left-sidenav ul {
  padding: 0px;
}
.left-sidenav .logo {
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 15px;
}
.left-sidenav .logo img {
  width: 120px;
  /*height: 27px;*/
}
.left-sidenav ul li {
  list-style: none;
  /*height: 41px;*/
}
.left-sidenav ul li .sembunyi li {
  height: 41px;
  background-color: rgb(52, 48, 69);
}
.left-sidenav ul li .sembunyi li a {
  padding-left: 40px;
}
.left-sidenav ul li a {
  color: inherit;
  padding: 3px;
  padding-left: 10px;
  line-height: 41px;
  text-decoration: none;
  display: block
}
.left-sidenav ul li a span {
  margin-right: 10px;
}
.left-sidenav ul li a:hover {
  background-color: rgb(57, 51, 78);
}
.body-content {
  margin-left: 240px;
  padding-left: 10px;
}
