@keyframes go-in {
  0% {bottom: -50px;}
  100% {bottom: 30px;}
}
@keyframes go-out {
  100% {bottom: -50px;}
  0% {bottom: 30px;}
}

.animate-in {
  animation: go-in 0.2s;
  animation-fill-mode: forwards;
}
.animate-out {
  animation: go-out 0.2s;
  animation-fill-mode: forwards;
}
* {
  font-family: 'Open Sans', sans-serif;
}
.blue-jeans {
  background-color: #5D9CEC !important;
  color: #fff;
}
.blue-jeans-dark {
  background-color: #4A89DC !important;
  color: #fff;
}
.aqua {
  background-color: #4FC1E9 !important;
  color: #fff;
}
.aqua-dark {
  background-color: #3BAFDA !important;
  color: #fff;
}
.mint {
  background-color: #48CFAD !important;
  color: #fff;
}
.mint-dark {
  background-color: #37BC9B !important;
  color: #fff;
}
.grass {
  background-color: #A0D468 !important;
  color: #fff;
}
.grass-dark {
  background-color: #8CC152 !important;
  color: #fff;
}
.sunflower {
  background-color: #FFCE54 !important;
  color: #fff;
}
.sunflower-dark {
  background-color: #F6BB42 !important;
  color: #fff;
}
.bittersweet {
    background-color: #FC6E51 !important;
    color: #fff;
}
.bittersweet-dark {
    background-color: #E9573F !important;
    color: #fff;
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-brand img {
  height: 40px;
}

.navbar {
  box-shadow: 0px 2px 3px rgba(107, 106, 106, 0.49);
  margin-bottom: 0px;
  border-radius: 0px;
}
.collation {
  padding-top: 10px;
}
.collation .left {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  float: left;
  width: 150px;
}
.collation .right {
  padding-left: 200px;
}
.collation .title {
  display: block;
  font-size: 20pt;
  line-height: 1.2em;
  margin-top: 30px;
  margin-bottom: 20px;
}
.collation p {
  font-size: 11pt;
  line-height: 1.5em;
}


.circle-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 12.5px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  box-shadow: 1px 3px 5px rgb(153, 153, 153);
}
.circle-btn:hover {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .navbar {
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav li a {
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s ease;
    border-radius: 3px;
  }
  .nav li a:hover {
    background-color: #FFCE54;
    color: #fff;
  }
}

.blog-post {
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog-post .date {
  display: block;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  color: rgb(75, 75, 75);
}
.blog-post .title{
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-post .content{
  line-height: 1.5em;
  font-size: 11pt;
}

footer {
  background-color: #fa7636;
  color: #fff;
  margin-top: 50px;
  padding-top: 20px;
  font-size: 11pt;
  line-height: 1.25em;
}

footer p {
  line-height: 1.5em;
}

footer strong {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer h5 {
  margin-bottom: 30px;
  font-weight: 100;
  font-size: 24px;
}
footer .footer-last {
  background-color: #d65e23;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
ul.phonelist {
  list-style: none;
  padding: 0px;
  margin: 0px;
 }

 ul.phonelist li {
  line-height: 1.5em;
 }
